/* ========== Common ========== */
a {
    text-decoration: none;
}

/* .btn {
    display: inline-block;
    min-width:;
    padding: ;
    line-height: ;
    font-weight: ;
    font-size: ;
    text-align: center;
    color: ;
    background: ;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
} */